
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/

/* Custom properties/variables  */
:root {
    --main-yellow: #F7F6CF;
    --main-turquoise: #B6D8F2;
    --main-pink: #e382ac;
    --main-linen: #F4CFDF;
    --main-blue-steel: #5784BA;
    --main-blue-sky: #9AC8EB;
    --main-serenade: #FAE7D9;
    --main-white: #F1F5F9;
    --main-black: #1F1F21;
}

/* Base reset */
* {
    text-align: center;
    margin: 0;
    padding: 0;
}

/* box-sizing and font sizing */
*,*::before,*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background: linear-gradient(315deg, #f4cfdf 3%, #b6d8f2 38%, #f7f6cf 68%, #d9b7c6 98%);
}

/* Base styles */
body {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

/* header */
#header {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-blue-steel);
}

.logo {
    width: 100%;
    font-family: 'Mogra', cursive;
    color: var(--main-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--main-white);
}


#logo-img {
    width: 100%;
}

.nav-ul {
    font-weight: bolder;
    padding: 0 50px;
    background-color: var(--main-blue-steel);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: 3px solid var(--main-white);
    border-image: linear-gradient(to left, var( --main-blue-sky) 1%,white 50%,var( --main-blue-sky) 100%)
        100% 0 100% 0/3px 0 3px 0 stretch;
}

.nav-list {
    list-style: none;
}

.nav-item {
    display: flex;
    font-size: 2rem;
    padding: 2rem;
    color: var(--main-white);
    text-decoration: none;
}

.nav-item:hover {
    color: var(--main-yellow);
    letter-spacing: 0.3em;
    transition: letter-spacing 0.3s ease;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .nav-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: pink;
    }
}