
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 4, 2022, 9:12:34 PM
    Author     : Charles
*/

/* Custom properties/variables  */
:root {
    --main-yellow: #F7F6CF;
    --main-turquoise: #B6D8F2;
    --main-pink: #e382ac;
    --main-linen: #F4CFDF;
    --main-blue-steel: #5784BA;
    --main-blue-sky: #9AC8EB;
    --main-serenade: #FAE7D9;
    --main-white: #F1F5F9;
    --main-black: #1F1F21;
}

/* Base reset */
* {
    text-align: center;
    margin: 0;
    padding: 0;
}

/* box-sizing and font sizing */
*,*::before,*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--main-white);
}

/* Base styles */
body {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

/* header */
#header {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-blue-sky);
}

.logo {
    padding-top: 20px;
    width: 100%;
    font-family: 'Mogra', cursive;
    color: var(--main-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--main-white);
}

 h1#logo-name {
        font-size: 250%;
    }

#logo-img {
    width: 6%;
    height: auto;
    padding-bottom: 10px;
}

#logo-name {
    font-weight: 900;
    font-size: 5vw;
    outline: 3px black;
}

.nav-ul {
    font-weight: bolder;
    padding: 0 50px;
    background-color: var(--main-blue-sky);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-list {
    list-style: none;
}

.nav-item {
    display: flex;
    font-size: 2rem;
    padding: 2rem;
    color: var(--main-white);
    text-decoration: none;
}

.nav-item:hover {
    color: var(--main-blue-steel);
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
}


@media screen and (max-width: 700px) {
    .nav-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: pink;
    }

    /* header */

    #header {
        font-size: 100%;
        padding: 10px 0;
    }
    .logo {
        padding: 10px;
        border: none;
    }


    img#logo-img {
        width: 10%;
        margin: 10px;
    }
    
    .logo {
        width: 100%;
        font-family: 'Mogra', cursive;
        color: var(--main-white);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
