<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- Encryption -->
    <context-param>
        <param-name>key</param-name>
        <param-value>ics_2609ics_2609</param-value>
    </context-param>
    <context-param>
        <param-name>cipherTransformation</param-name>
        <param-value>AES/ECB/PKCS5Padding</param-value>
    </context-param>
    <context-param>
        <param-name>cipher</param-name>
        <param-value>AES</param-value>
    </context-param>
    <!-- SQL -->
    <context-param>
        <param-name>jdbcClassName</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>dbUsername</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDriverURL</param-name>
        <param-value>jdbc:derby</param-value>
    </context-param>
    <context-param>
        <param-name>dbHostName</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>dbPort</param-name>
        <param-value>1527</param-value>
    </context-param>
    <context-param>
        <param-name>dbName</param-name>
        <param-value>CakeDB</param-value>
    </context-param>
    <context-param>
        <param-name>addlParams</param-name>
        <param-value/>
    </context-param>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>controller.Account</servlet-class>
        <!-- Parameters -->
        <!-- Names -->
        <init-param>
            <param-name>amiel-name</param-name>
            <param-value>Amiel Mala-ay</param-value>
        </init-param>
        <init-param>
            <param-name>christian-name</param-name>
            <param-value>Christian Mala-ay</param-value>
        </init-param>
        <init-param>
            <param-name>charles-name</param-name>
            <param-value>Charles Joaquin</param-value>
        </init-param>
        <init-param>
            <param-name>clarisse-name</param-name>
            <param-value>Clarisse Salazar</param-value>
        </init-param>
        <init-param>
            <param-name>denise-name</param-name>
            <param-value>Denise Poblete</param-value>
        </init-param>
        <init-param>
            <param-name>lawrence-name</param-name>
            <param-value>Lawrence Decamora</param-value>
        </init-param>
        <!-- Addresses -->
        <init-param>
            <param-name>amiel-address</param-name>
            <param-value>Caloocan</param-value>
        </init-param>
        <init-param>
            <param-name>christian-address</param-name>
            <param-value>Malabon</param-value>
        </init-param>
        <init-param>
            <param-name>charles-address</param-name>
            <param-value>Quezon City</param-value>
        </init-param>
        <init-param>
            <param-name>clarisse-address</param-name>
            <param-value>Mandaluyong</param-value>
        </init-param>
        <init-param>
            <param-name>denise-address</param-name>
            <param-value>Manila</param-value>
        </init-param>
        <init-param>
            <param-name>lawrence-address</param-name>
            <param-value>San Juan</param-value>
        </init-param>
        <!-- Contact Numbers -->
        <init-param>
            <param-name>amiel-number</param-name>
            <param-value>09445817726</param-value>
        </init-param>
        <init-param>
            <param-name>christian-number</param-name>
            <param-value>09314579962</param-value>
        </init-param>
        <init-param>
            <param-name>charles-number</param-name>
            <param-value>09817463289</param-value>
        </init-param>
        <init-param>
            <param-name>clarisse-number</param-name>
            <param-value>09216483729</param-value>
        </init-param>
        <init-param>
            <param-name>denise-number</param-name>
            <param-value>09323286743</param-value>
        </init-param>
        <init-param>
            <param-name>lawrence-number</param-name>
            <param-value>09671482569</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>controller.Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>controller.RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>controller.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrder</servlet-name>
        <servlet-class>controller.PlaceOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginRedirect</servlet-name>
        <servlet-class>controller.LoginRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaGenerator</servlet-name>
        <servlet-class>controller.CaptchaGenerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controller.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>controller.Delete</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>CakeYum_Receipt</servlet-name>
        <servlet-class>controller.CakeYum_Receipt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrder</servlet-name>
        <url-pattern>/PlaceOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginRedirect</servlet-name>
        <url-pattern>/LoginRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaGenerator</servlet-name>
        <url-pattern>/CaptchaGenerator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CakeYum_Receipt</servlet-name>
        <url-pattern>/CakeYum_Receipt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Error Pages -->
    <error-page>
        <error-code>401</error-code>
        <location>/error-pages/error401.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error-pages/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error-pages/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error-pages/error403.jsp</location>
    </error-page>
</web-app>
